@charset "UTF-8";
/* CSS Document */
body{
font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
margin:0;
color:#313131;
}
h1{
	font-size: 24px;
	font-weight: 100;
	color: #9CC;
}
h2{
	font-size: 18px;
	font-weight: normal;
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	color: #9CF;
}
hr{
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}
div{
	margin: 0 auto;
	width: 85%;
	}
dt{
	line-height: 0.5em;
	font-weight: bold;
	background-color: #FCC;
	letter-spacing: 0.3em;
	padding: 8px;
}
